@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Variable.ttf") format("opentype");
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
}
